---
import { getAllReleases } from '../lib/releases';
const releases = await getAllReleases();
---

<html lang="tr">
  <head><meta charset="utf-8" /><title>Sentezhane</title></head>
  <body>
    <h1>Sentezhane</h1>
    <ul>
      {releases.map((r) => <li>{r.data.type}: {r.data.title} ({r.data.slug})</li>)}
    </ul>
  </body>
</html>
